* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    width: 100%;
    background-color: rgba(2, 0, 0, 0.2);
    position: fixed;
    color: white;
}

.icon a {
    text-decoration: none;
    margin-top: 10px;
    color: white;
    margin-left: 20px;
    z-index: 1;
}

.icon a:hover {
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px white;
}

#first {
    background-image: url('c.jpg');
    background-size: cover;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

#box {
    position: relative;
    top: 50%;
    left: 5%;
    background-color: rgba(2, 0, 0, 0.1);
    width: 90%;
    color: white;
    height: 30%;
}

.text span {
    font-weight: bold;
    -webkit-text-stroke: 2px transparent;
    animation: fillText 2s linear infinite;
}

#second, #third {
    width: 100%;
    height: auto; /* Adjusted for smaller screens */
}

#stext {
    width: 100%;
    padding-top: 30px;
    color: transparent;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
}

#stext p {
    width: 100%;
    animation: moveCharacter 5s linear infinite;
}

#image, .carousel-inner img {
    width: 100%;
    height: auto;
}

#maindetail, #hobby {
    width: 90%;
    margin: 0 auto; /* Center the content */
}

#imagea {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto; /* Center the image */
}

#imga img {
    width: 100%;
    height: auto;
}

#foot {
    background-color: gray;
    position: absolute;
    top: 2100px;
    width: 100%;
    height: 50px;
}

#foot p {
    text-align: center;
    padding-top: 14px;
    color: white;
}

@media (max-width: 768px) {
    #first {
        height: 200px;
    }

    #box {
        left: 2%;
        width: 96%;
    }

    .text {
        font-size: 20px;
        padding-left: 5px;
    }

    #stext {
        font-size: 30px;
    }

    #second, #third {
        height: auto;
    }

    #stext p {
        width: 100%;
    }

    #maindetail, #hobby {
        width: 90%;
        left: 5%;
    }

    #imagea {
        position: relative;
        width: 60%;
        margin: 0 auto;
    }
}
